# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data outputs
data/processed/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

*.db